body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.6rem;
}

html{
	font-size: 62.5%;
}

p, a, li{
	font-size: 1.4rem;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background: rgb(138, 227, 235);
  background: linear-gradient(
    180deg,
    rgba(138, 227, 235, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.primary-button {
	background-color: var(--black);
	border-radius: 8px;
	border: none;
	color: var(--third-color);
	width: 80%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
  transition: 0.3s;
}

.primary-button:hover{
  background-color: var(--third-color);
	color: var(--black);
}

.login-button {
	margin: 14px auto 30px auto;
}

.banner-image{
  height: 50vh;
}

strong {
	font-weight: bold; 
}


table {
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
  width: 90%;
  border-radius: 10px;
}	
th:first-child{
  border-top-left-radius: 8px;
}

th:last-child{
  border-top-right-radius: 8px;
}

th {
	background: #000;
	color: var(--third-color);
	padding: 10px 0;
  text-align: center;
	position: relative;
}

tr{
  background-color: var(--primary-color);
}

tbody tr:last-child td:first-child{
  border-bottom-left-radius: 8px;

}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 8px;

}

td {
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}


tbody:hover td {
	color: var(--grey);
}

tbody:hover tr:hover td {
  background-color: var(--third-color);
	color: black;
}